.active{
    background-color: #007bff;
    color: white;
}
.steering{
    background-color: #00b3f3;
    color: white;
    opacity: 50%;
}
form, p{
    display: inline-block;
}
/* input{
    border-color: #007bff;
    padding: 5px 15px;
} */


